@charset "UTF-8";
/* Fix navbar at the top and give it a semi-transparent background */
.amf-navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: white;
}

.amf-nav-brand {
  font-family: "Satisfy", serif;
  margin-left: 10px;
  --bs-navbar-brand-margin-end: 0;
}

.amf-dd-menu {
  background-color: transparent;
  border-width: 0;
  --bs-dropdown-padding-y: 0;
}

.amf-dd-item, .amf-nav-link {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  text-align: center;
  background-color: rgba(169, 169, 169, 0.6);
  border-radius: 10px;
  margin: 3px;
}

.amf-nav-link {
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-padding-x: 10px;
}

.amf-dd-item {
  --bs-dropdown-item-padding-y: 0;
}

.amf-nav-link:hover,
.amf-dd-item:hover {
  background-color: rgba(128, 128, 128, 0.6);
}

.amf-dd-item.active {
  --bs-dropdown-link-active-bg: rgba(128, 128, 128, 0.6);
  --bs-dropdown-link-active-color: black;
}

/* Background container with padding and border */
.background-img {
  position: fixed;
  margin-top: -170px;
  border: 2px solid white; /* Set the border color and thickness */
  border-radius: 5px; /* Slightly round the corners */
  overflow: hidden; /* Ensures the image doesn’t overflow the rounded corners */
  width: 100%;
  height: auto; /* Full height for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for the container */
}

/* Image inside the background container */
.background-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Slight rounding of the image itself */
}

#amf-page-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
#amf-page-container .amf-background img {
  position: fixed;
  margin-top: -50px;
  width: 100%;
  height: auto;
}
#amf-page-container .amf-center-text span {
  margin-top: 10vw;
  width: 100%;
  text-align: center;
  position: fixed;
  font-family: "Lora", serif;
  font-size: 5vw;
}

body > div.container {
  position: relative;
  margin-top: 50px;
}

.img-container {
  width: 100%;
  height: 100%; /* Ensure the container takes up the full space */
}

.img-container img {
  width: 100%;
  height: 100%; /* Make the image fill the container */
  -o-object-fit: cover;
     object-fit: cover; /* Ensure the image fits and scales while maintaining its aspect ratio */
  padding-top: 5px;
  border-radius: 25px;
}

/* Push content down to avoid being overlapped by the fixed navbar */
.content-wrapper {
  padding-top: 80px;
  /* Adjust this value based on navbar height */
}

/* Full-width responsive image */
.full-page-image {
  width: 100%;
  height: auto;
  /* Automatically adjust height to maintain aspect ratio */
}

/* Call to action text */
.call-to-action {
  margin: 10px;
  text-align: center;
  font-size: large;
  font-family: "Lora", serif;
  background-color: rgba(0, 0, 0, 0.1);
  /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
}

.call-to-action h1 {
  font-size: xx-large;
  font-weight: 400;
  font-family: "Libre", serif;
}

.modal.fade.show {
  background-color: rgb(0, 0, 0); /* Darker, more opaque background */
}

#photoGallery div img {
  border-radius: 10px;
  background: #757575;
  box-shadow: 6px 6px 5px #757575;
}