@use "_navbar.scss" as navbar;
@use "_variables.scss" as var;

/* Background container with padding and border */
.background-img {
  position: fixed;
  margin-top: -170px;
  border: 2px solid white; /* Set the border color and thickness */
  border-radius: 5px; /* Slightly round the corners */
  overflow: hidden; /* Ensures the image doesn’t overflow the rounded corners */
  width: 100%;
  height: auto; /* Full height for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for the container */
}

/* Image inside the background container */
.background-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Slight rounding of the image itself */
}

#amf-page-container {
  margin-top: 50px;
  display: flex;
  align-items: center;

  .amf-background img {
    position: fixed;
    margin-top: -50px;
    width: 100%;
    height: auto;
  }

  .amf-center-text span {
    margin-top: 10vw;
    width: 100%;
    text-align: center;
    position: fixed;
    font-family: "Lora", serif;
    font-size: 5vw;
  }
}

body > div.container {
  position: relative;
  margin-top: 50px;
}

.img-container {
  width: 100%;
  height: 100%; /* Ensure the container takes up the full space */
}

.img-container img {
  width: 100%;
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Ensure the image fits and scales while maintaining its aspect ratio */
  padding-top: 5px;
  border-radius: 25px;
}

/* Push content down to avoid being overlapped by the fixed navbar */
.content-wrapper {
  padding-top: 80px;
  /* Adjust this value based on navbar height */
}

/* Full-width responsive image */
.full-page-image {
  width: 100%;
  height: auto;
  /* Automatically adjust height to maintain aspect ratio */
}

/* Call to action text */
.call-to-action {
  margin: 10px;
  text-align: center;
  font-size: large;
  font-family: "Lora", serif;
  background-color: rgba(0, 0, 0, 0.1);
  /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
}

.call-to-action h1 {
  font-size: xx-large;
  font-weight: 400;
  font-family: "Libre", serif;
}

.modal.fade.show {
  background-color: rgba(0, 0, 0, 1); /* Darker, more opaque background */
}

#photoGallery div img {
  border-radius: 10px;
}
